body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: pink;
    overflow: hidden;
}

.board {
    display: grid;
    width: 360px;
    height: 360px;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(6, 60px);
    grid-template-rows: repeat(6, 60px);
    gap: 5px;
}

.cell {
    width: 60px;
    height: 60px;
    border: 2px solid black;
    transition: 0.1s;
    cursor: pointer;
}

.cell:hover{
    transform: scale(1.1);
}

.none{
    opacity: 0;
}